<div style="display: flex; flex-direction: column; background-color: #F9F6EE; height: 100vh;">
  <div style="display: flex; flex-direction: row; gap: 25px; margin-left:15px;margin-top: 15px;">
    <select [value]="currentMode" (change)="onModeChange($event)" style="width: 110px; margin:20px;">
      <option value="global">Global</option>
      <option value="availability">Availability</option>
      <option value="quality">Quality</option>
      <option value="machineA">machine A</option>
      <option value="machineQ">machine Q</option>
    </select>
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions16.series" [chart]="chartOptions16.chart"
          [dataLabels]="chartOptions16.dataLabels" [stroke]="chartOptions16.stroke" [title]="chartOptions16.title"
          [grid]="chartOptions16.grid" [xaxis]="chartOptions16.xaxis" [yaxis]="chartOptions16.yaxis"
          [tooltip]="chartOptions16.tooltip" [markers]="chartOptions16.markers" [colors]="chartOptions16.colors">
        </apx-chart>
      </div>
    </div>
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions23.series" [chart]="chartOptions23.chart"
          [dataLabels]="chartOptions23.dataLabels" [stroke]="chartOptions23.stroke" [title]="chartOptions23.title"
          [grid]="chartOptions23.grid" [xaxis]="chartOptions23.xaxis" [yaxis]="chartOptions23.yaxis"
          [tooltip]="chartOptions23.tooltip" [markers]="chartOptions23.markers" [colors]="chartOptions23.colors">
        </apx-chart>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row;gap: 25px;margin-left: 15px;">
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions17.series" [chart]="chartOptions17.chart"
          [dataLabels]="chartOptions17.dataLabels" [stroke]="chartOptions17.stroke" [title]="chartOptions17.title"
          [grid]="chartOptions17.grid" [xaxis]="chartOptions17.xaxis" [yaxis]="chartOptions17.yaxis"
          [tooltip]="chartOptions17.tooltip" [markers]="chartOptions17.markers" [colors]="chartOptions17.colors">
        </apx-chart>
      </div>
    </div>
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions24.series" [chart]="chartOptions24.chart"
          [dataLabels]="chartOptions24.dataLabels" [stroke]="chartOptions24.stroke" [title]="chartOptions24.title"
          [grid]="chartOptions24.grid" [xaxis]="chartOptions24.xaxis" [yaxis]="chartOptions24.yaxis"
          [tooltip]="chartOptions24.tooltip" [markers]="chartOptions24.markers" [colors]="chartOptions24.colors">
        </apx-chart>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; gap: 25px;margin-left: 15px;">
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [dataLabels]="chartOptions2.dataLabels"
          [stroke]="chartOptions2.stroke" [title]="chartOptions2.title" [grid]="chartOptions2.grid"
          [xaxis]="chartOptions2.xaxis" [yaxis]="chartOptions2.yaxis" [tooltip]="chartOptions2.tooltip"
          [markers]="chartOptions2.markers" [colors]="chartOptions2.colors">
        </apx-chart>
      </div>
    </div>
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [dataLabels]="chartOptions3.dataLabels"
          [stroke]="chartOptions3.stroke" [title]="chartOptions3.title" [grid]="chartOptions3.grid"
          [xaxis]="chartOptions3.xaxis" [yaxis]="chartOptions3.yaxis" [tooltip]="chartOptions3.tooltip"
          [markers]="chartOptions3.markers" [colors]="chartOptions3.colors">
        </apx-chart>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row;gap: 25px;margin-left: 15px;">
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions22.series" [chart]="chartOptions22.chart"
          [dataLabels]="chartOptions22.dataLabels" [stroke]="chartOptions22.stroke" [title]="chartOptions22.title"
          [grid]="chartOptions22.grid" [xaxis]="chartOptions22.xaxis" [yaxis]="chartOptions22.yaxis"
          [tooltip]="chartOptions22.tooltip" [markers]="chartOptions22.markers" [colors]="chartOptions22.colors">
        </apx-chart>
      </div>
    </div>
    <div class="card card-stats mb-0 mt-0"
      style="border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 47%; height: 90%; margin-left: 10px; background-color: white;">
      <div class="card-body" style="padding: 0;">
        <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [dataLabels]="chartOptions4.dataLabels"
          [stroke]="chartOptions4.stroke" [title]="chartOptions4.title" [grid]="chartOptions4.grid"
          [xaxis]="chartOptions4.xaxis" [yaxis]="chartOptions4.yaxis" [tooltip]="chartOptions4.tooltip"
          [markers]="chartOptions4.markers" [colors]="chartOptions4.colors">
        </apx-chart>
      </div>
    </div>
  </div>
</div>