<div style="display: flex; flex-direction: row; background-color: #F9F6EE; height: 100vh; overflow-y: auto;gap: 20px;">
    <div style="display: flex;  flex-direction: column; width: 100%;">
        <select [value]="currentMode" (change)="onModeChange($event)" style="width: 110px; margin:20px;">
            <option value="global">Global</option>
            <option value="availability">Availability</option>
            <option value="quality">Quality</option>
            <option value="entity">Entity</option>
        </select>

        <select style="width: 100px;left: 0;margin: 10px;" (change)="onMachineSelect($event)">
            <option *ngFor="let machine of machines" [value]="machine.id">
                {{ machine.designation_machine }}
            </option>
        </select>
        <div class="card card-stats mb-2 mt-1"
            style=" width: 80%;margin: auto; border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
            <div class="card-body">
                <p style="color: black;">Date</p>
                <div class="date-slider-container">
                    <select name="year" id="year" (change)="onChangeYear($event)">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                    <div class="months">
                        <div *ngFor="let month of months; let i = index" [class.selected]="i === selectedMonthIndex"
                            [class.disabled]="!month.isAccessible"
                            (click)="month.isAccessible ? onMonthSelect(i) : null" class="month">
                            {{ month.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex;flex-direction: row; gap: 10px;height: 30%;">
            <div class="card card-stats mb-2"
                style="width: 25%; margin-left: 10px; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <div *ngIf="showFailureType;else noData">
                        <apx-chart [series]="type.series" [chart]="type.chart" [labels]="type.labels"
                            [dataLabels]="type.dataLabels" [title]="type.title" [legend]="type.legend"
                            [colors]="type.colors" [plotOptions]="type.plotOptions" [grid]="type.grid">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <ng-template #noData>
                <div class="no-data-message">
                    No data available.
                </div>
            </ng-template>
            <div class="card card-stats mb-2"
                style="width: 73%; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <div *ngIf="showChart;else noData">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                            [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels"
                            [legend]="chartOptions.legend" [yaxis]="chartOptions.yaxis" [colors]="chartOptions.colors"
                            [markers]="chartOptions.markers" [xaxis]="chartOptions.xaxis" [grid]="chartOptions.grid">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; gap: 10px; height: 38%;">
            <div class="card card-stats mb-2"
                style=" width: 50%; margin-left: 10px; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <div *ngIf="showMachine;else noData">
                        <apx-chart [series]="paretoMachines.series" [chart]="paretoMachines.chart"
                            [plotOptions]="paretoMachines.plotOptions" [dataLabels]="paretoMachines.dataLabels"
                            [xaxis]="paretoMachines.xaxis" [yaxis]="paretoMachines.yaxis" [title]="paretoMachines.title"
                            [colors]="paretoMachines.colors" [grid]="paretoMachines.grid"
                            [tooltip]="paretoMachines.tooltip">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <div class="card card-stats mb-2"
                style=" width: 48%; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <div *ngIf="showCauses;else noData">
                        <apx-chart [series]="cause.series" [chart]="cause.chart" [plotOptions]="cause.plotOptions"
                            [dataLabels]="cause.dataLabels" [xaxis]="cause.xaxis" [yaxis]="cause.yaxis"
                            [title]="cause.title" [colors]="cause.colors" [tooltip]="cause.tooltip">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div style=" flex-direction: row; height: auto; width: 95%;margin: auto;">
            <div class="card card-stats mb-2"
                style=" margin-left: 10px; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <div *ngIf="showcausestrascking;else noData">
                        <apx-chart [series]="tracking.series" [chart]="tracking.chart" [xaxis]="tracking.xaxis"
                            [dataLabels]="tracking.dataLabels" [stroke]="tracking.stroke" [markers]="tracking.markers"
                            [yaxis]="tracking.yaxis" [title]="tracking.title" [legend]="tracking.legend"
                            [colors]="tracking.colors" [grid]="tracking.grid">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>