select {
  padding: 0px;
  background-color: transparent;
  color: black;
  border: none;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

select option {
  background-color: #F9F6EE;
}