<div style="display: flex; flex-direction: row; background-color: #F9F6EE; height: 100vh; overflow-y: auto;gap: 20px;">
    <div style="display: flex;  flex-direction: column; width: 100%;">
        <select [value]="currentMode" (change)="onModeChange($event)" style="width: 110px; margin:20px;">
            <option value="global">Global</option>
            <option value="availability">Availability</option>
            <option value="quality">Quality</option>
            <option value="machineA">machine A</option>
            <option value="machineQ">machine Q</option>
        </select>
        <select style="width: 100px;left: 0;margin: 10px;">
            <option value="machine1">machine 1</option>
            <option value="machine2">machine 2</option>
            <option value="machine3">machine 3</option>
            <option value="machine4">machine 4</option>
        </select>
        <div class="card card-stats mb-1 mt-1"
            style=" width: 80%;margin: auto; border-radius: 15px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
            <div class="card-body">
                <p style="color: black;">Date</p>
                <div class="date-slider-container">
                    <select name="year" id="year" (change)="onChangeYear($event)">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                    <div class="months">
                        <div *ngFor="let month of months; let i = index" [class.selected]="i === selectedMonthIndex"
                            (click)="onMonthSelect(i)" class="month">
                            {{ month }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex;flex-direction: row; gap: 10px;height: 25%;">
            <div class="card card-stats mb-1"
                style="width: 25%; margin-left: 10px; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <apx-chart [series]="card.series" [chart]="card.chart" [labels]="card.labels"
                        [dataLabels]="card.dataLabels" [title]="card.title" [legend]="card.legend"
                        [colors]="card.colors" [plotOptions]="card.plotOptions" [grid]="card.grid"></apx-chart>
                </div>
            </div>
            <div class="card card-stats mb-1"
                style="width: 73%; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels"
                        [legend]="chartOptions.legend" [yaxis]="chartOptions.yaxis" [colors]="chartOptions.colors"
                        [markers]="chartOptions.markers" [xaxis]="chartOptions.xaxis">
                    </apx-chart>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; gap: 10px; height: 33%;">
            <div class="card card-stats mb-1"
                style=" width: 50%; margin-left: 10px; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <apx-chart [series]="machines.series" [chart]="machines.chart" [plotOptions]="machines.plotOptions"
                        [dataLabels]="machines.dataLabels" [xaxis]="machines.xaxis" [yaxis]="machines.yaxis"
                        [title]="machines.title" [colors]="machines.colors" [grid]="machines.grid">
                    </apx-chart>
                </div>
            </div>
            <div class="card card-stats mb-1"
                style=" width: 48%; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color: white;">
                <div class="card-body">
                    <apx-chart [series]="cause.series" [chart]="cause.chart" [plotOptions]="cause.plotOptions"
                        [dataLabels]="cause.dataLabels" [xaxis]="cause.xaxis" [yaxis]="cause.yaxis"
                        [title]="cause.title" [colors]="cause.colors">
                    </apx-chart>
                </div>
            </div>
        </div>
        <div style="flex-direction: row; height: auto; width: 95%; margin: auto;">
            <div class="card card-stats mb-1"
                style="margin-left: 10px; border-radius: 5px; border: 1px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: white;">
                <div class="card-body" style="padding: 0;">
                    <apx-chart [series]="tracking.series" [chart]="tracking.chart" [xaxis]="tracking.xaxis"
                        [dataLabels]="tracking.dataLabels" [stroke]="tracking.stroke" [markers]="tracking.markers"
                        [yaxis]="tracking.yaxis" [title]="tracking.title" [legend]="tracking.legend"
                        [colors]="tracking.colors" [grid]="tracking.grid">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>